.footer {
  position: relative;
  padding: 64px;
  background: hsl(0deg, 0%, 5%);
  color: white;
  text-align: center;
}

.footer a,
.footer a:visited {
  color: white;
}

/* adding perspective decoration */
footer::before {
  position: absolute;
  content: " ";
  background-color: hsl(195deg, 20%, 86%);
  height: 55vh;
  width: 100%;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}
